@page "/ITCourse"

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mud-py-8">
            <MudPaper Elevation="3" Class="pa-4 text-center">
                <h3 class="align-content-center">@Localizer["WelcomeCourse"]</h3>
                <MudImage Src="images/fondo_amentum.jpg"
                          Alt="Imagen del curso de sensibilización de IT" Class="mud-mb-4" Style="max-width: 100%; height: auto;" />
                <MudGrid Justify="Justify.Center" Spacing="4">
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.CastForEducation" OnClick="GoToNextPage">
                            @Localizer["StartCourse"]
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>